{% extends 'base.html'%}
{% import 'macros.html' as macro %} 




{% block content %}
<div class="indexbody">
        <ul>
            <li><a href="{{url_for('main.art')}}">Art</a></li>
            <li><a href="{{url_for('main.music')}}">Music</a></li>
            <li><a href="{{url_for('main.poetry')}}">Poetry</a></li> 
            
        </ul>

        <div  class="container" id="particles-js">
                <h2 class="text-center" id="posts">Let's Share, Live and Learn.</h2>
            <ul class="nav nav-pills nav-justified nav-fill" role="tablist">
                <li class="nav-item" >
                    <a id ="all" class="nav-link" data-toggle="tab" href="#all"><strong>Blog Posts</strong> </a>
                </li>
            </ul>
            {% if pitches%}
           {% for pitch in pitches %} 
            <div class="tab-content">
                <div  class="container tab-pane active" id="all"><br> 
                    {{ pitch }}
                </div>
            </div>
            {% endfor %}
            {% else %}
            There are no blog posts at the moment
            {% endif %}
        </div>
        </div>
{% endblock%} 